
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

*{
    font-family: "ABeeZee", sans-serif;
    margin:0px;
}


section{
   width: auto;
    height: 350px; 
    position: relative;
}


section::before{
    background-image: url("comOne.jpg");
    background-size: cover;
    content: '';
    position: absolute; 
    filter: brightness(40%);
    inset:0;
}


section h1,section h6, section a{
    color: white;
    isolation: isolate;
    margin:20px 100px;
}

#iconImg{
    height: 200px;
}

.info{
    text-align: left;
}

.belowIntro{
    border-bottom: 2px solid black;
}
