.content {
	min-height: 100vh;
}

.footer {
    background-color: gray;
    color: #555;
    font-size: 14px; /* Adjust font size */
  }
  
  .footer h6 {
    color: #555; /* Customize heading color */
    font-weight: bold; /* Apply bold font weight to headings */
  }
  
  .footer p {
    line-height: 1.5; /* Set line height for paragraphs */
  }
  .footer .footer-links2{
    list-style-type: none;
    padding: 0;
 }
 .footer .footer-links{
    list-style-type: none;
    padding: 0;
 }
 .footer .footer-links2 li{
    display: inline;
 }
 .footer .footer-links2 li a{
    display: inline;
    color: #555;
 }
 .footer .footer-links a{
    text-decoration: none;
    color:#555;
    margin-right: 30px;
 }
 .footer .footer-links li{
 list-style-type: none;
 }
 body {
   display: flex;
   flex-direction: column;
   height: 100vh;
 }
 
 footer {
   margin-top: auto;
 }