.site-footer{
    background-color: gray;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}
 .site-footer .container{
   width: 100%;
}
 .site-footer .footer-links{
    list-style-type: none;
    padding: 0;
}
 .site-footer .footer-links li{
    display: inline;
}
 