{% extends "base.html" %}
{% block title %}HigherUp{% endblock %}
{% block content %}
<section>
    <br>
    <h1>Wells Fargo</h1>
    <h6>Wells Fargo has been at the center of the Technology ecosystem for decades, <br>maintaining the different roles of financial service provider, buyer, and investor.<br><br></h6>
    <a href="https://www.google.com/url?q=https://www.wellsfargo.com/about/careers/&amp;source=gmail-html&amp;ust=1713454804495000&amp;usg=AOvVaw17wdRNrxoipgfekW6j9ZNB" target="_blank" rel="noreferrer"><button type="button" class="m_btn m_btn-light">Visit their hiring page</button></a>
    </section>
    <div class="m_container m_text-center m_mt-5 m_belowIntro">
      <div class="m_row">
        <div class="m_col">
          <div class="m_row">
            <div class="m_col">
              <div class="m_progress-circle m_over50 m_p95">
                <span>95%</span>
                <div class="m_left-half-clipper">
                  <div class="m_first50-bar"></div>
                  <div class="m_value-bar"></div>
                </div>
              </div>
            </div>
            <div class="m_col-7 m_info">
              <p><br>95% of reviewers rate the interview process a 3 out of 5.</p>
            </div>
          </div>
          <div class="m_row">
            <div class="m_col">
              <div class="m_progress-circle m_over50 m_p75">
                <span>75%</span>
                <div class="m_left-half-clipper">
                  <div class="m_first50-bar"></div>
                  <div class="m_value-bar"></div>
                </div>
              </div>
            </div>
            <div class="m_col-7 m_info">
              <p><br>75% of reviewers say interviews were mainly behavioral.</p>
            </div>
          </div>
        </div>
        <div class="m_col-7">
          <img src="https://ci3.googleusercontent.com/meips/ADKq_NZE8Ebvv6ki15rO_wlzc42jcRLV4XBlsXUgj7ySb0za3TmTN4Q=s0-d-e1-ft#http://card.png" id="m_iconImg">
        </div>
      </div>
      <h1><br>UNCC and Wells Fargo<br><br></h1>
      <h6>UNC Charlotte has a business partners program with 50 Charlotte-area companies including Wells Fargo, <br>which is one of the region&#39;s biggest employers.<br><br></h6>
    </div>
    <div class="m_container m_mt-5">
      <h1>Student/Alumni Reviews</h1>
    </div>

{% endblock %}