{% extends 'base.html' %}
{% block title %}HigherUp{% endblock %}
{% block content %}
<main>
	<div class="container">
		<div class="row height d-flex justify-content-center align-items-center">
			<div class="col-md-6">
				<div class="search d-flex">
					<i class="fa fa-search"></i>
					<input type="text" class="form-control" placeholder="Start Searching!">
					<button class="btn btn-primary ml-2">Search</button>
				</div>
			</div>
		</div>
	</div>
	<style>
main {
	height: 50vh;
	width: 100%;
	background-image: url("{{ url_for('static', filename='images/school.png') }}");
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: white;
	align-items: center;
	font-weight: bolder;
}
	</style>
</main>
<div class="container text-center mt-5 belowIntro">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="progress-circle over50 p96">
						<span>96%</span>
						<div class="left-half-clipper">
							<div class="first50-bar"></div>
							<div class="value-bar"></div>
						</div>
					</div>
				</div>
				<div class="col-7 info">
					<p><br>96% of reviewers rate their interview experience positively after leveraging insights from fellow students on HireUp.</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="progress-circle over50 p78">
						<span>78%</span>
						<div class="left-half-clipper">
							<div class="first50-bar"></div>
							<div class="value-bar"></div>
						</div>
					</div>
				</div>
				<div class="col-7 info">
					<p><br>78% of reviewers credit HireUp for successfully landing their desired internship through shared experiences and connections with peers.</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="progress-circle over50 p85">
						<span>85%</span>
						<div class="left-half-clipper">
							<div class="first50-bar"></div>
							<div class="value-bar"></div>
						</div>
					</div>
				</div>
				<div class="col-7 info">
					<p><br>85% of reviewers report significant skill improvement by learning and collaborating with other students on HireUp</p>
				</div>
			</div>
		</div>
		<div class="col-7 info2">
			<div class="row">
				<!-- Left column for text description -->
				<div class="col-md-6">
					<p>
					<strong>Networking and Growth Opportunities</strong>
					</p>
					<p>
					Expand your professional network and foster personal growth by connecting with peers and industry professionals on HireUp. Discover firsthand insights from fellow students to elevate your job search and gain a competitive edge.
					</p>
					<p>
					Explore job seeker experiences and gain unique company insights like never before.
					</p>
				</div>
				<!-- Right column for image -->
				<div class="col-md-6">
					<div class="text-center">
						<img src="{{ url_for('static', filename='images/networking.png') }}" alt="Illustration" style="max-width: 100%; height: auto; margin-top: 20px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<h2>Popular Threads</h2>
<div class="container-fluid">
	{% from "post_list_macro.html" import list_posts %}
	{{ list_posts(posts, user_likes, user) }}
</div>
</div>
{% endblock %}
