{% extends 'base.html' %}
{% block title %}HigherUp{% endblock %}
{% block content %}
<main>
  <div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="search d-flex">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Start Searching!">
          <button class="btn btn-primary ml-2">Search</button>
        </div>
      </div>
    </div>
  </div>
  <style>
    main {
      height: 50vh;
      width: 100%;
      background-image: url("{{ url_for('static', filename='images/school.png') }}");
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      color: white;
      align-items: center;
      font-weight: bolder;
    }
  </style>
</main>
  <h2>Popular Threads</h2>
  <div class="container-fluid">
    <div class="post">
        <div class="post-content">
            <div class="arrow-container">
                <i class="bi bi-arrow-up-circle arrow-icon"></i>
                <p class="number">23</p>
            </div>
            <div>
                <h2 class="post-title">Post Title</h2>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et aliquet dolor, vitae consectetur lacus.</p>
                <hr>
                <div class="posted-by">
                    <i class="bi bi-person-circle"></i>
                    <p class="mb-0">Posted by Anonymous</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="post">
      <div class="post-content">
          <div class="arrow-container">
              <i class="bi bi-arrow-up-circle arrow-icon"></i>
              <p class="number">32</p>
          </div>
          <div>
              <h2 class="post-title">Post Title</h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et aliquet dolor, vitae consectetur lacus.</p>
              <hr>
              <div class="posted-by">
                  <i class="bi bi-person-circle"></i>
                  <p class="mb-0">Posted by Anonymous</p>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="post">
      <div class="post-content">
          <div class="arrow-container">
              <i class="bi bi-arrow-up-circle arrow-icon"></i>
              <p class="number">43</p>
          </div>
          <div>
              <h2 class="post-title">Post Title</h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et aliquet dolor, vitae consectetur lacus.</p>
              <hr>
              <div class="posted-by">
                  <i class="bi bi-person-circle"></i>
                  <p class="mb-0">Posted by Anonymous</p>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
