{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">
        <img class="img-fluid m-5" style="width: 400px;" src="learning.png">
      </div>
      <div class="col m-5 p-5">
        <div class="form-group">
            <input type="text" class="form-control form-control-lg mb-3 border border-success p-2" style="--bs-border-opacity: .5;" id="username" placeholder="Username">
            <input type="password" class="form-control form-control-lg mb-3 border border-success p-2" style="--bs-border-opacity: .5;" id="password" placeholder="Password">
            <div class="float-end">
              <button class="mb-3 ms-6 btn btn-success btn-lg float-end" type="submit">Log In</button>                        
            </div><br>
        </div><br><br>
        <div class="float-end mt-5">Don't have an account with us?</div><br><br><br>
        <div class="float-end"><a class="mt-3 btn btn-outline-success btn-lg" href="#" role="button">Sign-up</a></div><br>
      </div> 
    </div>
  </div>
{% endblock %}