{% extends "base.html" %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/posts.js') }}"></script>
{% endblock %}
{% block content %}
<div class="post">
	<div class="post-content">
		<div class="arrow-container">
			{% if post in user_likes %}
			<i id="like-{{ post.id }}" class="bi bi-arrow-up-circle-fill arrow-icon"></i>
			{% else %}
			<i id="like-{{ post.id }}" class="bi bi-arrow-up-circle arrow-icon"></i>
			{% endif %}
			<p id="like-count-{{ post.id }}" class="number">{{ post.likes.count() }}</p>
		</div>
		<div>
			<h2 class="post-title">{{ post.title }}</h2>
			<p class="post-description">{{ post.content }}</p>
			<hr>
		</div>
	</div>
	<div class="posted-by d-flex justify-content-between">
		<div class="d-flex align-items-center">
			<i class="bi bi-person-circle"></i>
			<p class="mb-0">{{ post.get_author().user_name }}</p>
		</div>
		{% if user and post.author_id == user.id %}
		<i class="bi bi-trash" style="color: red;" id="delete-post-{{post.id}}"></i>
		{% endif %}
	</div>
</div>

{% if user and user.is_authenticated %}
<div class="container-fluid">
	<form action="{{ url_for('posts.add_comment', post_id=post.id) }}" method="post" class="row d-flex justify-content-center w-50 mb-1 m-auto">
		{{ form.csrf_token }}
		{{ form.content(class="form-control comment-text-area", id="content", rows="4", placeholder="Enter Comment") }}
		<input class="mb-3 ms-6 btn btn-success btn-lg mt-2 w-25" type="submit" value="Add Comment"> 
	</form>
</div>
{% endif %}

<div class="container-fluid">
	<h2 class="comments-header">Comments</h2>
	{% for comment in comments %}
	<div class="comment">
		<div class="post-content d-flex row">
			<div>
				<p class="post-description">{{ comment.content }}</p>
				<hr>
			</div>
			<div class="posted-by d-flex justify-content-between">
				<div class="d-flex align-items-center">
					<i class="bi bi-person-circle"></i>
					<p class="mb-0">{{ comment.get_author().user_name }}</p>
				</div>
				{% if user and comment.author_id == user.id %}
				<i class="bi bi-trash" style="color: red;" id="delete-comment-{{comment.id}}"></i>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
