{% extends "base.html" %}
{% block title %}HigherUp{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css')}}">
{% endblock %}
{% block content %}
<section>
	<br><br>
	<h1>The best place to find job advice from <br>people in your shoes</h1>
	<h6><br>Use the categories below, search by company, or view the most up-voted reviews!</h6>
	<br><br>
	<div class="dropdowns">
		<div class="dropdown">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Keywords
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Technical</a></li>
				<li><a class="dropdown-item" href="#">Language</a></li>
				<li><a class="dropdown-item" href="#">Pay</a></li>
			</ul>
		</div>
		<div class="dropdown">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Job Types
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Technical</a></li>
				<li><a class="dropdown-item" href="#">Language</a></li>
				<li><a class="dropdown-item" href="#">Pay</a></li>
			</ul>
		</div>
		<div class="dropdown">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Title
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Technical</a></li>
				<li><a class="dropdown-item" href="#">Language</a></li>
				<li><a class="dropdown-item" href="#">Pay</a></li>
			</ul>
		</div>
		<div class="dropdown">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				University Year
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Technical</a></li>
				<li><a class="dropdown-item" href="#">Language</a></li>
				<li><a class="dropdown-item" href="#">Pay</a></li>
			</ul>
		</div>
		<button type="button" class="btn btn-primary">Search</button>
	</div>
	<br>
	<div class="custom-shape-divider-top-1713146849">
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
		</svg>
	</div>
</section>
<div class="companies">
	<h2>Browse by Company</h2>
	<br>
	<div class="container text-center">
		<div class="d-flex justify-content-center">
			{% for company in companies %}
			{% if company.image_url %}
			<div class="company-display" style="background-image: url('{{url_for('static', filename='images/uploads/' + company.image_url)}}')">
			{% else %}
			<div class="company-display">
			{% endif %}
				<a href="{{ url_for('companies.company', company_name=company.name) }}">
					<button type="button" class="btn"><p>{{company.name}}</p>
					</button>
				</a>
			</div>
			{% endfor %}
		</div>
		<hr>
	</div>
</div>

	<div class="container-fluid mt-5">
		<h2 class="text-center mb-4">Popular Posts</h2>
		{% from "post_list_macro.html" import list_posts %}
		{{ list_posts(posts, user_likes, user) }}
	</div>
	{% endblock %}
