{% extends "base.html" %}
{% block title %}HigherUp{% endblock %}
{% block content %}
<section>
    <br><br>
    <h1>The best place to find job advice from <br>people in your shoes</h1>
    <h6><br>Use the categories below, search by company, or view the most up-voted reviews!</h6>
    <br><br>
    <div class="m_dropdowns">
        <div class="m_dropdown">
            <button class="m_btn m_btn-outline-secondary m_dropdown-toggle" type="button" aria-expanded="false">
              Keywords
            </button>
            <ul class="m_dropdown-menu">
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Technical</a></li>
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Language</a></li>
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Pay</a></li>
            </ul>
          </div>
          <div class="m_dropdown">
            <button class="m_btn m_btn-outline-secondary m_dropdown-toggle" type="button" aria-expanded="false">
              Job Types
            </button>
            <ul class="m_dropdown-menu">
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Technical</a></li>
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Language</a></li>
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Pay</a></li>
            </ul>
          </div>
          <div class="m_dropdown">
            <button class="m_btn m_btn-outline-secondary m_dropdown-toggle" type="button" aria-expanded="false">
              Title
            </button>
            <ul class="m_dropdown-menu">
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Technical</a></li>
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Language</a></li>
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Pay</a></li>
            </ul>
          </div>
          <div class="m_dropdown">
            <button class="m_btn m_btn-outline-secondary m_dropdown-toggle" type="button" aria-expanded="false">
              University Year
            </button>
            <ul class="m_dropdown-menu">
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Technical</a></li>
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Language</a></li>
              <li><a class="m_dropdown-item" href="#m__" rel="noreferrer">Pay</a></li>
            </ul>
          </div>
          <button type="button" class="m_btn m_btn-primary">Search</button>
    </div>
    <br>
    <div class="m_custom-shape-divider-top-1713146849">
        <u></u>
            <u></u><u></u>
        <u></u>
    </div>
  </section>
  <div class="m_companies">
    <h1>Browse by Company</h1>
    <br>
    <div class="m_container m_text-center">
        <div class="m_row">
          <div class="m_col">
            <a href="https://www.google.com/url?q=http://index.html&amp;source=gmail-html&amp;ust=1713454746162000&amp;usg=AOvVaw1YvlqHBv-jQAQiaZguYX69" target="_blank" rel="noreferrer"><button type="button" class="m_btn m_companyDisplay m_comOne"><p>Wells Fargo</p></button></a>
          </div>
          <div class="m_col">
            <button type="button" class="m_btn m_companyDisplay m_comTwo"><p>Hartford</p></button>
          </div>
          <div class="m_col">
            <button type="button" class="m_btn m_companyDisplay m_comThree"><p>TIAA</p>&gt;</button>
          </div>
        </div>
        <div class="m_row">
            <div class="m_col">
              <button type="button" class="m_btn m_companyDisplay m_comFour"><p>Deloitte</p>&gt;</button>
            </div>
            <div class="m_col">
              <button type="button" class="m_btn m_companyDisplay m_comFive"><p>Fidelity</p>&gt;</button>
            </div>
            <div class="m_col">
              <button type="button" class="m_btn m_companyDisplay m_comSix"><p>Fidelity</p>&gt;</button>
            </div>
          </div>
      </div>
  </div>

  <br><br><br>

  <div class="m_popReviews">
    <h1>Popular Reviews</h1>
    <br> 
  </div>
{% endblock %}